@import 'src/styles/variables';

.button {
  cursor: pointer;
  display: flex;
  width: 210px;
  height: 50px;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid $black;
}

.button[type='reset'] {
  background-color: $white;
}

.button[type='reset']:hover {
  background-color: $black;
  div {
    color: $white;
  }
}

.button[type='submit'] {
  background-color: $sunny;
}

.button[type='submit']:hover {
  background-color: $light-yellow;
}