$black: #000;
$white: #fff;
$gold: #ffc802;
$light-yellow: #FFEDAB;
$sunny: #FFC802;
$light-gray: #EEEEEE;
$dark-gray: #D7D7D7;
$gray-disabled: #787878;
$option-gray-color: #c4c4c4;
$option-pink-color: #feafe8;
$option-fuchsia-color: #fd24af;
$option-yellow-color: #ffc802;
$option-green-color: #80d994;
$option-blue-color: #6fc1fd;
$option-purple-color: #5f0dee;