@import 'src/styles/variables';

.selectWrapper {
  position: relative;
}

.arrow {
  position: absolute;
  right: 6px;
  top: 50%;
  transition: transform 0.2s ease-in-out, margin-top 0.2s ease-in-out;
  margin-top: -12px;
}

.placeholder {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  height: 50px;
  padding: 15px 17px;
  cursor: pointer;
  outline: 1px solid $black;
  background: $white;
  box-sizing: border-box;
  width: 100%;
}

.placeholder[data-selected="true"] {
  color: $black;
}

.selectWrapper[data-is-active="true"] .arrow {
  transform: rotate(180deg);
  margin-top: -14px;
}

.selectWrapper[data-is-active="true"] .placeholder {
  outline: 3px solid $black;
}

.selectWrapper:not([data-is-active="true"])
  .placeholder:not([data-status="invalid"]):hover {
  outline: 1px solid $gold;
}

.select {
  display: grid;
  position: absolute;
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
  outline: 3px solid $black;
  border-top: none;
  box-sizing: border-box;
  z-index: 10;
  background-color: $white;
}

.option {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 30px;
  padding: 5px;
  border: 1px;
  padding: 15px 17px;
  cursor: pointer;
  background-color: $white;
}

.option[aria-selected="true"] {
  background-color: rgba(0, 0, 0, 0.05);
}

.option:hover {
  background: $light-gray;
}

.option:active {
  background: $dark-gray;
}

@mixin option-color-before {
  content: "";
  width: 35px;
  height: 35px;
  margin-right: 10px;
}

.option-black::before {
  @include option-color-before();
  background-color: $black;
}

@mixin option-color-after {
  content: "";
  position: absolute;
  left: 26px;
  width: 17px;
  height: 17px;
  border-radius: 100%;
}

.option-black[data-selected="true"]::after {
  @include option-color-after();
  background-color: $white;
}

.option-white::before {
  @include option-color-before();
  background-color: $white;
  border: 1px solid $black;
  box-sizing: border-box;
}

.option-white[data-selected="true"]::after {
  @include option-color-after();
  background-color: $black;
}

.option-gray::before {
  @include option-color-before();
  background-color: $option-gray-color;
}

.option-gray[data-selected="true"]::after {
  @include option-color-after();
  background-color: $white;
}

.option-pink::before {
  @include option-color-before();
  background-color: $option-pink-color;
}

.option-pink[data-selected="true"]::after {
  @include option-color-after();
  background-color: $white;
}

.option-fuchsia::before {
  @include option-color-before();
  background-color: $option-fuchsia-color;
}

.option-fuchsia[data-selected="true"]::after {
  @include option-color-after();
  background-color: $white;
}

.option-yellow::before {
  @include option-color-before();
  background-color: $option-yellow-color;
}

.option-yellow[data-selected="true"]::after {
  @include option-color-after();
  background-color: $white;
}

.option-green::before {
  @include option-color-before();
  background-color: $option-green-color;
}

.option-green[data-selected="true"]::after {
  @include option-color-after();
  background-color: $white;
}

.option-blue::before {
  @include option-color-before();
  background-color: $option-blue-color;
}

.option-blue[data-selected="true"]::after {
  @include option-color-after();
  background-color: $white;
}

.option-purple::before {
  @include option-color-before();
  background-color: $option-purple-color;
}

.option-purple[data-selected="true"]::after {
  @include option-color-after();
  background-color: $white;
}

@mixin option-width-before {
  content: "";
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.option-wide::before {
  @include option-width-before();
  background-image: url("./../../images/wide.svg");
}

.option-narrow::before {
  @include option-width-before();
  background-image: url("./../../images/narrow.svg");
}
